*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.logo{
    position: relative;
    z-index: 1;
    width: 120px;
    left: 50px;
}
.heading{
    position: relative;
    top: -130px;
    text-align: center;
}
.ULNavBar{
    display: inline;
    float: left;
    overflow: auto;
    width:19%;
    /* height: 50px; */
}
.navbar{
    overflow: auto;
    /* width: max-content; */
}
.navbar a{
    display: block;
    /* background-color: #0088CC; */
    background-color: rgb(44,52,57);
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover{
    background-color: rgb(0,133,207) ;
}
.footer{
    position: absolute;
    /* bottom: -235px; */
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(44,52,57);    
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}


.leftimg img{
    /* width: 70px; */
    height: 300px;
    width: auto;
}

.rightimg img{
    height: 300px;
    width: auto;
}

.s1{
    /* border: 2px solid red; */
    position: relative;
    top: -70px;
    background-color: rgba(128, 128, 128, 0.082);

}

.insidesections1{
    padding: 20px 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid green; */
    display: flex;
}


.umang{
    /* border: 2px solid blue; */
    width: 100%;
    margin-right: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: flex; */
}

.leftimg{
    /* border: 2px solid black; */
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding-top: 20px;
}

.bhavya{
    /* border: 2px solid palegreen; */
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rightabout{
    /* border: 2px solid palevioletred; */
    padding: 10px 30px;
    /* font-style: italic; */
    font-size: 20px;
    line-height: 30px;
}

.rightimg{
    /* border: 2px solid black; */
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    /* border-radius: 30px; */

}
.lefttextbhavya{
    /* border: 2px solid palevioletred; */
    padding: 10px 30px;
    /* font-style: italic; */
    font-size: 20px;
    line-height: 30px;

}
